<div class="container-fluid">
    <div class="row justify-content-center align-content-center text-center bg-light">
        <div class="col-md-5">
            <p class="mt-4 mb-4 font-weight-bolder">ChablaHEALTH ©︎ 2021 Origins | Design by Jean-Baptiste CHABI</p>
        </div>
    </div>
</div>